@import '~tailwindcss/base.css';
@import '~tailwindcss/components.css';
@import '~tailwindcss/utilities.css';

.foto-rounded-100{
    width: 100px;
    border-radius: 50%;
}

.foto-rounded-80{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.localizacao-empresa iframe{
    width: 100% !important;
}